aiofiles==24.1.0
aiohttp
anchorpy==0.21.0
base58==2.1.1
binance-connector
click==8.2.0
cryptography==45.0.2
driftpy==0.8.48
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
pybit==5.10.1
pycryptodome==3.22.0
PyQt6==6.9.0
python-dotenv==1.1.0
requests==2.32.3
rich==14.0.0
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
setuptools==80.1.0
solana==0.36.6
solders==0.26.0
spl==0.0.1.dev0
supabase==2.15.1
tabulate==0.9.0
tensorflow==2.19.0
torch==2.8.0.dev20250513+rocm6.4
websocket-client==1.8.0
websockets==13.1
ccxt